body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1em;
    text-align: right;
}

input {
    text-align: right;
}

button {
    margin-top: 1em;
}